<template>
  <div class="tw-container tw-text-center tw-mt-12">
    <SvgInjector
      alt="Tailwind CSS"
      :src="require('../assets/img/tailwind.svg')"
      height="3rem"
      class="tw-mx-auto tw-my-4"
    />

    <div class="tw-w-1/2 tw-mx-auto tw-mt-10">
      <Suspense>
        <template #default>
          <div>
            <LoginForm v-model="form" />
          </div>
        </template>

        <template #fallback>
          <Loader />
        </template>
      </Suspense>

      <div
        v-if="form"
        class="tw-bg-blue-600 tw-text-white tw-p-4 tw-text-sm tw-mt-8 tw-border tw-border-blue-700 tw-rounded tw-text-left"
      >
        <code>
          <pre>{{ form }}</pre>
        </code>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, defineAsyncComponent, reactive, toRefs } from "vue";
import { ILoginForm } from "@/typescript/interfaces/forms";

export default defineComponent({
  name: "Home",
  components: {
    LoginForm: defineAsyncComponent({
      loader: () => import("../components/LoginForm.vue")
    })
  },
  setup() {
    const state: { form: ILoginForm } = reactive({
      form: {
        email: "",
        password: ""
      }
    });

    return { ...toRefs(state) };
  }
});
</script>
