<template>
  <form
    novalidate
    :id="formId"
  >
    <div class="tw-flex tw-flex-col">
      <label
        class="tw-mb-2 tw-text-xl tw-font-medium"
        for="email"
      >Email</label>
      <input
        v-model.trim="email"
        id="email"
        class="tw-border tw-rounded tw-h-10 tw-px-4"
        name="email"
        type="email"
      />
    </div>

    <div class="tw-flex tw-flex-col tw-mt-4">
      <label
        class="tw-mb-2 tw-text-xl tw-font-medium"
        for="password"
      >Password</label>
      <input
        v-model.trim="password"
        id="password"
        class="tw-border tw-rounded tw-h-10 tw-px-4"
        name="password"
        type="password"
      />
    </div>

    <div class="tw-flex tw-flex-col tw-mt-4">
      <span class="tw-text-sm tw-font-medium tw-text-gray-600">
        {{ sec }} seconds reactively provided by the parent!
      </span>
    </div>
  </form>
</template>

<script lang="ts">
import { ILoginForm } from "../typescript/interfaces/forms";
import { defineComponent, inject, onMounted, reactive, ref, toRefs, watch } from "vue";
import { awaiter, randomId } from "@/utils";

export default defineComponent({
  name: "LoginForm",
  props: {
    modelValue: {
      type: Object,
      default: () => {
        return {
          email: "",
          password: ""
        };
      }
    },
    formId: {
      type: String,
      default: randomId()
    }
  },
  async setup(props, vm) {
    const form = ref(props.modelValue);

    const state = reactive<ILoginForm>({
      email: form.value.email,
      password: form.value.password
    });

    watch(
      () => state,
      (newVal) => {
        vm.emit("update:modelValue", newVal);
      },
      { deep: true, immediate: true }
    );

    const sec = inject<number>("sec");

    onMounted(() => {
      state.email = "hakkibulut@gmail.com";
      state.password = "hakkibulut123";
    });

    await awaiter(2000);

    return { ...toRefs(state), sec };
  }
});
</script>
