<template>
  <img
    class="sevege"
    :style="{
      'width': svgWidth,
      'height': svgHeight
    }"
    :src="source"
    :alt="altText || ''"
  />
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs, onMounted } from "vue";
import { injectSvg } from "@/utils";

export default defineComponent({
  name: "SvgInjector" as string,
  props: {
    src: {
      type: String,
      default: null,
      required: true
    },
    alt: {
      type: String,
      default: "",
      required: false
    },
    width: {
      type: String,
      default: null,
      required: false
    },
    height: {
      type: String,
      default: null,
      required: false
    }
  },
  setup(props) {
    const state = reactive({
      source: props.src,
      altText: props.alt,
      svgWidth: props.width,
      svgHeight: props.height
    });

    onMounted(() => {
      injectSvg();
    });

    return { ...toRefs(state) };
  }
});
</script>
