<template>
  <div class="tw-hidden">
    Now you can use multiple fragments!
  </div>

  <div :class="$style.base">
    <router-view />
  </div>
</template>

<script lang="ts">
import { computed, defineComponent } from "vue";

export default defineComponent({
  name: "App",
  provide() {
    return {
      sec: computed(() => this.second)
    };
  },
  data() {
    return {
      second: 0
    };
  },
  mounted() {
    setInterval(() => {
      this.second += 1;
    }, 1000);
  }
});
</script>

<style lang="scss" module>
.base {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
